.App {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  background: rgb(175, 103, 233);
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 28%,
    rgba(101, 101, 231, 1) 100%
  );
}
